.outer{
  height: 750px;
  width: 100%;
  border: 1.5px solid blueviolet;
  background: url('/imgbg1.png') ;
}
.row{
  height: 650px;
  background: gray;
  filter: blur(red);
  margin-top: 50px;
  border: 1.5px solid blue;
  border-radius: 5px;
}
.btn{
  margin: 0px 0px 100px 0px;
  background-color: skyblue;
  width: 100%;
}
.for{
  float: right;
  margin-top: 10px 10px 10px 10px;
}
.icon-con{
  height: 100%;
  width: 100%;
  justify-content:center;
  text-align: center;

}
.log{
  height:100%;
  width: 50px;
 padding-bottom:50px ;
}